
  
.contenedorCard{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


h2{
    margin: 10px;
}

h4{
    margin: 10px;
}

  .card {
   width: 100%;
   margin: 20px;
  
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
    display: flex;
  }
  

  

  .card img {
    width: 300px;
    height: 300px;
    display: block;
  }
  

  .card-content {
    padding: 16px;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 8px;
    color: #333;
  }
  
  .card-description {
    color: #666;
    line-height: 1.5;
  }
  
  .sobreMi{
    color: #202020;
  }

  .btnProyectos{
    width: 150px;
    height: 50px;
    background-color: black;
    border-radius: 5px;
    color: white;
    
    
  }

  .contenedorBtnProyectos{
    display: flex;
    justify-content: center
  }